<html>
<head>
  <title>Email Template</title>
</head>
<body>
  <h1>Email List</h1>
  <ul>
    <% for (let i = 0; i < emailList.length; i++) { %>
      <li>
        <h2><%= emailList[i].title %></h2>
        <p><%= emailList[i].content %></p>
      </li>
    <% } %>
  </ul>
</body>
</html>
